<ion-view view-title="首页">
    <ion-tabs class="tabs-icon-top bar-stable">
        <ion-tab title="直播展览" icon="ion-ios-home" href="#/app/tabs/main">
            <ion-nav-view name="main-tab"></ion-nav-view>
        </ion-tab>
        <ion-tab title="精选展馆" icon="ion-social-instagram-outline" href="#/app/tabs/galleries">
            <ion-nav-view name="galleries-tab"></ion-nav-view>
        </ion-tab>
        <ion-tab title="精选作品" icon="ion-images" href="#/app/tabs/paints/null/null/null">
            <ion-nav-view name="paints-tab"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view view-title>