<ion-view view-title="直播展览">
    <ion-nav-buttons side="left">
        <a class="button icon-left ion-chevron-left button-clear button-dark" ng-click="back()"></a>
    </ion-nav-buttons>
    <ion-content>
        <ion-refresher  on-refresh="doRefresh()"></ion-refresher>
        <div class="list margin-list" ng-repeat="exhibition in exhibitions.value | orderBy:'index'">
            <div class="img">
                <a>
                    <img ng-src="{{exhibition.posterURL}}" ng-click="go('app.exhibition',exhibition);">
                </a>
            </div>
            <div class="main">
                <p> 主题:{{exhibition.subject}}</br>
                    单位:{{exhibition.vanue}}</br>
                    时间:{{exhibition.startDate}}
                </p>
            </div>
            <div class="main_1">
                <p> 主题:{{exhibition.subject}}</br>
                    单位:{{exhibition.vanue}}</br>
                    时间:{{exhibition.startDate}}
                </p>
            </div>
            <div class="main-front-position">
                <p>
                    {{exhibition.ExhiStatus}}
                </p>
            </div>
        </div>
        <ion-infinite-scroll ng-if="checked" on-infinite="load_more();" distance="10%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>
